// Fuentes
$fuente_headings: 'Poppins', sans-serif;
$fuente_textos: 'Inter', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1440px;

// Colores
$cyan: #0891B2;
$azul: #2563EB;
$indigo: #4338CA;
$morado: #7C3AED;
$naranja: #F59E0B;
$rosa: #DB2777;

$gris: #6b7280;
$grisOscuro: #4B5563;
$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);

$separacion: 4rem;


$danger: #eb06a1;
$blanco: #FFFFFF;
$text-50: #F1F3FC;
$text-100: #E5E8FA;
$text-200: #D1D4F5;
$text-300: #B4B7ED;
$text-400: #9795E4;
$text-500: #847BD9;
$text-600: #7361CA;
$text-700: #6350B2;
$text-800: #514390;
$text-900: #443C73;
$text-950: #292343;
$negro: #000;

$regular : 500;
$bold : 700;